<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="flow_page" parallel="true" thread-count="10">

    <test name="Default" parallel="methods" thread-count="10">
        <classes>
            <class name="popo.flow.app.test.TestWatchCoBrandSortingPage"/>
            <class name="popo.flow.app.test.TestWatchCoMainPage"/>
        </classes>
    </test>

</suite>